music_and_movie_prj/WebContent/wsdl/login_user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://music_and_movie_prj" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://music_and_movie_prj" xmlns:intf="http://music_and_movie_prj" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://music_and_movie_prj" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="login_info">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login_infoResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="login_infoResponse">

      <wsdl:part element="impl:login_infoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="login_infoRequest">

      <wsdl:part element="impl:login_info" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="login_user">

      <wsdl:operation name="login_info">

         <wsdl:input message="impl:login_infoRequest" name="login_infoRequest">

       </wsdl:input>

         <wsdl:output message="impl:login_infoResponse" name="login_infoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="login_userSoapBinding" type="impl:login_user">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login_info">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="login_infoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="login_infoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="login_userService">

      <wsdl:port binding="impl:login_userSoapBinding" name="login_user">

         <wsdlsoap:address location="http://localhost:8080/music_and_movie_prj/services/login_user"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
