fronts/WebContent/wsdl/User_info.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://music_and_movie_prj" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://music_and_movie_prj" xmlns:intf="http://music_and_movie_prj" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://music_and_movie_prj" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getuserinfo">
    <complexType>
     <sequence>
      <element name="Name" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getuserinfoResponse">
    <complexType>
     <sequence>
      <element name="getuserinfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getuserinfoResponse">

      <wsdl:part element="impl:getuserinfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getuserinfoRequest">

      <wsdl:part element="impl:getuserinfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="User_info">

      <wsdl:operation name="getuserinfo">

         <wsdl:input message="impl:getuserinfoRequest" name="getuserinfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getuserinfoResponse" name="getuserinfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="User_infoSoapBinding" type="impl:User_info">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getuserinfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getuserinfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getuserinfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="User_infoService">

      <wsdl:port binding="impl:User_infoSoapBinding" name="User_info">

         <wsdlsoap:address location="http://localhost:8080/music_and_movie_prj/services/User_info"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
